{% extends "layout.html" %}

{% block content %}


<section id="about">
    <h2>About Poultry Helper</h2>

    <p>Welcome to Poultry Helper, your trusted partner in poultry farming management. We offer a range of powerful tools to optimize your poultry operations and enhance productivity.</p>

    <h3>Key Features</h3>
    <p>Poultry Helper offers a suite of essential features designed to support poultry farmers and nutritionists in achieving the best results for their flocks.</p>

    <h4>UCVFinder (Uniformity, Coefficient of Variation Finder)</h4>
    <p>UCVFinder is a critical tool for poultry farmers and nutritionists to ensure the health and productivity of their hens. This component allows you to assess and monitor the weight uniformity of your hens with precision, providing valuable insights into your flock's performance.</p>

    <h5>Key Metrics:</h5>
    <ul>
        <li>Average Weight: Quickly calculate the average weight of your hens, helping you gauge overall flock health.</li>
        <li>Uniformity Percentage: Measure the uniformity of your flock's weight distribution, which is crucial for consistent growth and productivity.</li>
        <li>Coefficient of Variation: Understand the variation in hens' weights within your flock, enabling you to identify outliers and potential issues.</li>
    </ul>

    <p>Using UCVFinder is straightforward. Simply input the lowest and highest weights divisible by 20 from your weight records, along with the count of hens in each row and their respective feed composition. UCVFinder will then provide you with these essential metrics, allowing you to make informed decisions about your poultry management strategies.</p>

    <h4>Feed Composition Analyzer</h4>
    <p>The Feed Composition Analyzer helps you analyze the chemical composition of poultry feed formulas. It assists in fine-tuning your poultry's nutrition for optimal health and productivity. Key features include:</p>

    <ul>
        <li>Input the weights of each ingredient in your feed formula.</li>
        <li>Easily account for ingredients that are not used by entering '0' as their weight.</li>
    </ul>

    <h4>Least Cost Optimizer</h4>
    <p>Our advanced Least Cost Optimizer revolutionizes poultry nutrition management. It employs state-of-the-art linear programming algorithms to find the most cost-effective feed formula while meeting specific nutritional requirements, such as Crude Protein, Energy, Calcium, and more. Key features include:</p>

    <ul>
        <li>Integration with a frequently updated Feedstuff price list for cost efficiency.</li>
        <li>Customizable parameters to meet your poultry's unique nutritional needs.</li>
    </ul>

    <h3>Contact Us</h3>
    <ul>
        <li>Email: a.a.amer91@gmail.com</li>
    </ul>
</section>

{% endblock %}
