{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Poultry Helper</h1>
        <h1>By Ahmed A. Amer</h1>
        <p class="lead">Your All-in-One Poultry Farm Management Solution</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Feed Price</h2>
            <p>Stay informed with real-time feed ingredient costs, guaranteeing access to the latest prices for your poultry enterprise. With hourly updates on local feedstuff prices, craft informed poultry feed choices while managing expenses.</p>
            <a href="feedprices" class="btn btn-primary">Get Started</a>
        </div>
        <div class="col-md-6">
            <h2>Feed Composition Analyzer</h2>
            <p>Optimize your poultry feed with our Feed Composition Analyzer. Create nutritious and cost-effective feed for your chickens.</p>
            <a href="feedanalyzer" class="btn btn-primary">Get Started</a>
        </div>
    </div>
</div>

{% endblock %}
